<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          http://maven.apache.org/xsd/settings-1.0.0.xsd">
      <localRepository>${user.home}/.m2/repository</localRepository>
      <servers>
         <server>
            <id>releaseRepo</id>
            <username>user</username>
            <password>password</password>
         </server>
         <server>
            <id>snapshotsRepo</id>
            <username>user</username>
            <password>password</password>
         </server>
         <server>
            <id>remote-repos</id>
            <username>user</username>
            <password>password</password>
         </server>
     </servers>
     <profiles>
        <profile>
           <id>dev</id>
           <repositories>
              <repository>
                 <id>releaseRepo</id>
                 <name>Release Repository</name>
                 <releases>
                    <enabled>true</enabled>
                    <updatePolicy>always</updatePolicy>
                    <checksumPolicy>warn</checksumPolicy>
                 </releases>
                 <snapshots>
                    <enabled>false</enabled>
                    <updatePolicy>never</updatePolicy>
                    <checksumPolicy>fail</checksumPolicy>
                 </snapshots>
                 <url>http://it-build:8081/artifactory/release</url>
                 <layout>default</layout>
              </repository>
              <repository>
                 <id>snapshotsRepo</id>
                 <name>Snapshots Repository</name>
                 <releases>
                    <enabled>false</enabled>
                    <updatePolicy>always</updatePolicy>
                    <checksumPolicy>warn</checksumPolicy>
                 </releases>
                 <snapshots>
                    <enabled>true</enabled>
                    <updatePolicy>never</updatePolicy>
                    <checksumPolicy>fail</checksumPolicy>
                 </snapshots>
                 <url>http://it-build:8081/artifactory/snapshot</url>
                 <layout>default</layout>
	      </repository>
	      <repository>
                 <id>remote-repos</id>
                 <name>Remote Repository</name>
                 <releases>
                    <enabled>true</enabled>
                    <updatePolicy>always</updatePolicy>
                    <checksumPolicy>warn</checksumPolicy>
                 </releases>
                 <snapshots>
                    <enabled>false</enabled>
                    <updatePolicy>never</updatePolicy>
                    <checksumPolicy>fail</checksumPolicy>
                 </snapshots>
                 <url>http://it-build:8081/artifactory/remote-repos</url>
                 <layout>default</layout>
	      </repository>
           </repositories>
	</profile>
     </profiles>
     <activeProfiles>
        <activeProfile>dev</activeProfile>
     </activeProfiles>
</settings>
