<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Single File Upload Form</title>
    </head>
    <body>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]! upload a single file</h1>
        
        <form th:action="@{/upload/singlefile}" method="post" enctype="multipart/form-data">
        	<input type="file" name="file"/>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>